body {
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.75em;
    color: #002147;
    text-shadow: 1.5px 1.5px white;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}

.heading {
    min-height: 150px;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

#map {
    height: 100%;
}

.map-container {
    width: 65%;
    height: 100%;
}

.marker {
    height: 32px;
    width: 32px;
}

.outer-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.restaurant-list h2:hover {
    text-shadow: 2px 2px 1px #383838;
    cursor: pointer;
}

.restaurant-list h2 {
    color: white;
}

.restaurant-list p {
    color: white;
}

.restaurant-list {
    margin: 10px;
    width: 400px;
}

select {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgb(53, 53, 53);
}

.sidebar-container {
    width: 35%;
    height: 100%;
    background-color: #E57200;
    overflow-y: scroll;
}

.wait {
    position: absolute;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: 100;
    writing-mode: vertical-rl;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 6em;
    transform: rotate(-15deg);
    color: #002147;
    /*Animations*/
    animation-name: resize;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes resize {
    50%  {font-size: 4em;}
    100% {font-size: 2em;}
}

@media only screen and (max-width: 1000px) {
    .map-container {
        width: 100%;
        max-height: 50%;
    }

    .outer-container {
        flex-direction: column;
    }

    .sidebar-container {        
        width: 100%;
        height: 50%;
    }

    .wait {
        width: 50%;
        left: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.5em;
    }
    
    .heading {
        min-height: 125px;
    }

    .restaurant-list {
        max-width: 275px;
    }

    .wait {
        width: 30%;
    }
  }  